body {
    background-color: #FAFAFA;
}

.loginpage__main {
    display    : flex;
    margin-top : 10px;
    margin-left: -65px;
}

.loginpage__logo {
    width     : 175px;
    margin-top: 25px;
}

.loginpage_rightcomponent {
    width           : 350px;
    padding-bottom  : 25px;
    border          : 1px solid #DBDBDB;
    margin-top      : 25px;
    text-align      : center;
    background-color: white;
}